{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h4> {{ playlist.title }} </h4>
</div>
<br>
<div class="container">
<div class="col s12 m8 offset-m1 xl7 offset-xl1">
<div class="card">
  <div class="card-content ">
    <span class="card-title">{{ playlist.title }}</span>
    <p class="truncate">{{ playlist.description }}</p>
    <br>
    {% for song in playlist.songs.all %}
    <table class="striped">
      <tbody>
        <tr>
          <h5>{{ song.name }}</h5>
          <p>{{ song.artist }}</p>
        </tr>
      </tbody>
    </table>
  </ul>
  {% endfor %}
  <div>
    <br>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">Add a Song<i class="material-icons right">arrow_drop_down</i></div>
        <div class="collapsible-body">
          {% if availible_songs.count %}
  {% for song in availible_songs %}
  <h6> {{ song.name }}</h6>
  <form action="{% url 'assoc_song' playlist.id song.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn-large grey darken-4">Add Song to Playlist</button>
  </form>
  {% endfor %}
  {% endif %}
  </div>
</div>
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}