* {
  background-image: white;
  color: black;
}

header, main, footer {
  padding-left: 300px;
}

footer {
  margin-bottom: 30px;
  margin-top: auto;
}

.card {
  background-image: url("../pictures/background.jpeg");
}

h4 {
  padding-left: 30px;
}

.user {
  padding-left: 30px;
}

.padding {
  padding-left: 15px;
}

.col {
  margin-right: 50px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media screen and (min-width : 992px) {
  .card {
    width: 700px;
  }
}