{% extends 'base.html' %} 

{% block content %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <br>
      <h1 class="header center grey-text text-darken-4">About My Page</h1>
      <br>
      <br>
      </div>
      <div class="row center">
        {% if user.is_authenticated %}
        <a href="{% url 'playlist_create' %}" class="waves-effect waves-light btn-large white"><span class="black-text">Create a Playlist</span></a>
        {% else %}
        <a href="{% url 'signup' %}" class="waves-effect waves-light btn-large grey darken-4">Sign Up</a>
        {% endif %}
      </div>
    </div>
    <div class="parallax">
      <img src="https://i.imgur.com/fqFEpv3.jpg" alt="blue galaxy" style="transform: translate3d(-50%, 250.215px, 50px); opacity: 1;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s10 m3">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">add_box</i>
        </h2>
        <h5 class="center">Add playlists to our page</h5>
        <p class="center">Create your own playlist by first making sure that the artists and songs you'd like to add are in our library. Name your playlist, give it a description, and start adding songs!</p>
      </div>
    </div>
    <div class="col s10 m3">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">share</i>
        </h2>
        <h5 class="center">Share your favorite music with others</h5>
        <p class="center">In our experience if you find yourself in a music slump, it's hard to go out and find new music. Sometimes you want to look for something different. If you're like me you've exhasted your resources on Spotify's Song Radio.</p>
      </div>
    </div>
    <div class="col s10 m3">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">person</i>
        </h2>
        <h5 class="center">Sign up and join the community</h5>
        <p class="center">With my app, users with diverse music tastes who might use a different platform than you can share music they enjoy by adding songs and artists to our library and creating playlists for you to browse.</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    console.log(elems)
  });
  </script>

{% endblock %}