{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/other.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Spotify App</title>
</head>
<body>
  <header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <div class="row">
        <div>
          <h5>Profile</h5>
          {% if user.is_authenticated %}

        <ul>
          <li> {{ user }}</li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
        {% else %}
        <ul>
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
      </ul>
      {% endif %}
      </div>
    </div>
    <li><div class="divider"></div></li>
      <li>
        <a href="{% url 'home' %}"><b>Spotify App</b></a>
      </li>

      <li>
        <a href="{% url 'about' %}">About</a>
      </li>

      <li class="padding">
        <ul class="collapsible">
          <li>
            <a class="collapsible-header" tabindex="0">Artists</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{% url 'artist' %}">Artists Library</a></li>
                <li><a href="{% url 'artist_create' %}">Add an Artist</a></li>
                
              </ul>
            </div>
          </li>
        </ul>
      </li>

    </ul>
    <a href="#" data-target="slide-out" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
    </script>
  </header>
  <main>
    {% block content %} 
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>